<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="DayOne App">
    <test name="Regression">
        <classes>
            <class name="com.qa.DayOne.Seeker.TestCases.LoginPageTest"/>
        </classes>
    </test> <!-- Test -->
</suite> <!-- Suite -->