<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="DayOne App">
    <test name="Regression">
        <classes>
            <class name="com.qa.DayOne.Seeker.TestCases.OppPageTest"/>
            <class name="com.qa.DayOne.Seeker.TestCases.oppViewMatchPageTest"/>



        </classes>
    </test> <!-- Test -->
</suite> <!-- Suite -->


<!--<class name="com.qa.DayOne.Seeker.TestCases.LoginPageTest"/>-->
<!--<class name="com.qa.DayOne.Seeker.TestCases.DashboardPageTest"/>-->
<!--<class name="com.qa.DayOne.Seeker.TestCases.BackgroundPageTest"/>-->
<!--<class name="com.qa.DayOne.Seeker.TestCases.ValuesPageTest"/>-->
<!--<class name="com.qa.DayOne.Seeker.TestCases.OppPageTest"/>-->
<!--<class name="com.qa.DayOne.Seeker.TestCases.SaveDraftPage"/>-->







